name: "Retry action using retry"
on:
  push:
  
  workflow_call:
  
jobs:
  Retry:
    name: 'Retry'
    runs-on: "ubuntu-latest"
    
    steps:
     - name: Checkout repository
       uses: actions/checkout@v3
     - name: Use the reusable workflow
       uses: nick-fields/retry@v2
       with:
           max_attempts: 3
           retry_on: error
           timeout_seconds: 5
           command: |
              echo 'some command that would potentially fail'				
